<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo_header">
                <h1>DSS Console <i class="far fa-window-restore"></i></h1>
            </div>
            <nav class="nav">
                <a class="nav_link" href="/users">All Users <i class="fas fa-users"></i></a>
                <a class="nav_link" href="/user/add">Add User <i class="fas fa-user-plus"></i></a>
                <a class="nav_link" href="/logout">Exit <i class="fas fa-sign-out-alt"></i> </a>
            </nav>
        </div>
    </div>
</header>

